.wrapper {
  margin: 0 auto;
  width: 22rem;
  text-align: center;
}

.inner-wrapper {
  margin: 0.5rem;
  width: 10rem;
  text-align: center;
}

.inner-wrapper::after {
  content: "";
  clear: both;
  display: table;
}

h4 {
  margin: 0;
}

.guess {
  font-family: 'Courier New', Courier, monospace;
  display: inline;
  text-align: right;
  padding: 1rem;
  font-size: 1.5rem;
  margin: 1rem;
}

div.guesses{
  margin: 0 auto;
  text-align: left;
}

.numpad-row {
  text-align: center;
}

.key {
  font-family: 'Courier New', Courier, monospace;
  color: white;
  background-color: blue;
  display: inline-block;
  width: 2rem;
  height: 2rem;
  border: 1px blue solid;
  padding: 0.5rem;
  text-align: center;
  vertical-align: middle;
  font-size: 1.5rem;
  margin: 0.1rem;
  border-radius: 10px;
  cursor: pointer;
}

.key:hover {
  color: blue;
  background-color: antiquewhite;
}

.disabled {
  background-color: gray;
  cursor: not-allowed;
}

.guess-list {
  list-style: none;
}

.button {
  font-family: 'Courier New', Courier, monospace;
  display: inline;
  font-size: 1.5rem;
  border: 1px blue solid;
  cursor: pointer;
  background-color:blue;
  color: white;
  border-radius: 10px;
  padding: 0.5rem;
}

.button:hover {
  color: blue;
  background-color: antiquewhite;
}

aside.guesses {
  width: 10rem;
  float: right;
}

div.rules {
  text-align: left;
}

section.rules {
  text-align: center;
}